[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
statsmodels = "*"
tensorflow = "*"
tensorflow-addons = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
